<div class="ui-layout-east">
    <h3 class="ui-widget-header">Editar Nota</h3>

    <div id="confirma-borrado"></div>

    <div class="ui-widget my-widget">
        <div class="ui-widget-content my-widget-content">
             <span class="my-buttonset-left">
                 <button id="btn_hecho_editar">hecho</button>
             </span>

             <span class="my-buttonset-right">
                 <a id="btn_cancelar"
                    href="{{ path('jamn_nota', {'id': nota_seleccionada.id}) }}">
                     cancelar
                 </a>
                 <button id="btn_borrar" type="submit">Borrar</button>
                 <form id="form_borrar"
                       action="{{ path('jamn_borrar', { 'id': nota_seleccionada.id }) }}" method="post">
                     {{ form_widget(delete_form) }}
                 </form>
                 </span>
        </div>
    </div>

    <div class="separador"></div>

    <div>
        <div class="ui-widget-content my-widget-content">

            {{ form_start(edit_form,{
            'attr': {'id': 'form_editar_nota'},
            'action': path('jamn_editar', { 'id': nota_seleccionada.id }),
            'method': 'post'
            })
            }}

            {% if form_errors(edit_form) %}
                <div class="ui-state-error">{{ form_errors(edit_form) }}</div>
            {% endif %}

            <div class="row">
                <div style="font-size: small">Título:</div>
                {% if form_errors(edit_form.titulo) %}
                    <div style="width: 300px;" class="ui-state-error">
                        {{ form_errors(edit_form.titulo) }}
                    </div>
                {% endif %}

                {{ form_widget(edit_form.titulo,
                {'attr': {'class': 'nota-titulo ui-corner-all', 'style': 'width:300px;'} }) }}
            </div>

            <div class="row">
                <span style="font-size: small">Etiquetas:</span>


                <ul id="nota_etiquetas">
                    {%for etiqueta in nota_seleccionada.etiquetas %}
                        <li>{{ etiqueta.texto }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="row">
                {% if form_errors(edit_form.texto) %}
                    <div class="ui-state-error">{{ form_errors(edit_form.texto) }}</div>
                {% endif %}
                {{ form_widget(edit_form.texto) }}

            </div>

            <div class="row">
                <div>
                    <div style="font-size: small">Fichero:</div>

                    {% if nota_seleccionada.path  %}
                        {% set urlFile =
                        asset( nota_seleccionada.webPath(app.user.getUsername) ) %}
                        <a href="{{ urlFile }}">{{ nota_seleccionada.path}}</a>
                    {% endif %}
                </div>
            </div>

            {% if is_granted('ROLE_PREMIUM') %}
            <div class="row">
                <div style="font-size: small">Cambiar Fichero:</div>
                {% if form_errors(edit_form.file) %}
                    <div class="ui-state-error">
                        {{ form_errors(edit_form.file) }}
                    </div>
                {% endif %}
                {{ form_widget(edit_form.file) }}
                {% endif %}
            </div>

            {{ form_widget(edit_form._token) }}

            {{ form_end(edit_form) }}
        </div>
    </div>
</div>